# For more information see:
# https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: AoC

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:


jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install package & dev tools
        run: |
          python -m pip install --upgrade pip
          python -m pip install '.[dev]'
      - name: Check formatting with ruff
        run: |
          ruff format --check
      - name: Lint with ruff
        run: |
          ruff check
      - name: Run unit tests
        run: |
          pytest
      - name: Run benchmarks
        run: |
          sh benchmarks/runall.sh
